body {
  margin-top: 40px;
  font-size: 10px;
  font-family: Montserrat;
  background-color: #bdbdbd;
}

#gameboard {
  width: 312px;
  height: 312px;
  margin-top: 70px;
  margin-left: 350px;
}

#winner {
  color: #48484b;
  margin: 50px 0px 0px 40px;
  font-size: 10px;
  text-shadow: 2px 2px 2px white;
}

#button {
  color: #48484b;
  border: #00b6aa solid 5px;
  width: 100px;
  height: 70px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  font-size: 20px;
  font-family: Montserrat;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #000000;
  float: right;
  outline: none;
  margin-right: 300px;
  margin-top: -260px;
}

#clearScore {
  color: #48484b;
  border: #00b6aa solid 5px;
  width: 100px;
  height: 70px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  font-size: 20px;
  font-family: Montserrat;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #000000;
  float: right;
  outline: none;
  margin-right: 175px;
  margin-top: -260px;
}

.cell {
  background-color: white;
  border: #00b6aa solid 5px;
  width: 94px;
  height: 94px;
  float: left;
  text-align: center;
  text-shadow: 5px 5px 5px #48484b;
  font-size: 70px;
  font-family: Montserrat;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #000000;
  color: white;
}

h1 {
  color: #48484b;
  margin: -10px 0px -40px 250px;
  font-size: 37px;
  text-shadow: 2px 2px 2px white;
}

#play1 {
  color: #48484b;
  float: left;
  text-shadow: 2px 2px 2px white;
  font-size: 16px;
  margin-left: -200px;
  margin-top: 110px;
}

#play2 {
  color: #48484b;
  float: left;
  text-shadow: 2px 2px 2px white;
  font-size: 16px;
  margin-left: -200px;
  margin-top: 235px;
}

#name1 {
  color: #48484b;
  border: #00b6aa solid 5px;
  width: 200px;
  height: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px 000000;
  font-size: 16px;
  font-family: Montserrat;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #000000;
  float: left;
  outline: none;
  margin-top: 135px;
  margin-left: 90px;
}

#name2 {
  color: #48484b;
  border: #00b6aa solid 5px;
  width: 200px;
  height: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px 000000;
  font-size: 16px;
  font-family: Montserrat;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #000000;
  float: left;
  outline: none;
  margin-top: 260px;
  margin-left: -210px;
}

#input1 {
  color: #48484b;
  font-size: 20px;
  text-shadow: 2px 2px 2px white;
  float: right;
  outline: none;
  margin-right: 340px;
  margin-top: -130px;
}

#score1 {
  color: #48484b;
  font-size: 20px;
  text-shadow: 2px 2px 2px white;
  float: right;
  outline: none;
  margin-right: 140px;
  margin-top: -130px;
}

#input2 {
  color: #48484b;
  font-size: 20px;
  text-shadow: 2px 2px 2px white;
  float: right;
  outline: none;
  margin-right: 340px;
  margin-top: -70px;
}

#score2 {
  color: #48484b;
  font-size: 20px;
  text-shadow: 2px 2px 2px white;
  float: right;
  outline: none;
  margin-right: 140px;
  margin-top: -70px;
}
