body {
  margin-top: 40px;
  font-size: 10px;
  font-family: Montserrat;
  background-color: #bdbdbd;
}

#gameboard {
  width: 312px;
  height: 312px;
  margin-top: 70px;
  margin-left: 350px;
}

#winner {
  color: #48484b;
  margin: 50px 0px 0px 0px;
  font-size: 10px;
  text-shadow: 2px 2px 2px white;
}

#button {
  color: #48484b;
  border: #00b6aa solid 5px;
  width: 100px;
  height: 70px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  font-size: 20px;
  font-family: Montserrat;
  border-radius: 15px;
  box-shadow: 9px 9px 5px #000000;
  float: right;
  outline: none;
  margin-right: 300px;
  margin-top: -260px;


}

.cell {
  background-color: white;
  border: #00b6aa solid 5px;
  width: 94px;
  height: 94px;
  float: left;
  text-align: center;
  text-shadow: 5px 5px 5px #48484b;
  font-size: 70px;
  font-family: Montserrat;
  border-radius: 15px;
  box-shadow: 9px 9px 5px #000000;
  color: white;
}

h1 {
  color: #48484b;
  margin: 5px 0px -30px 250px;
  font-size: 37px;
  text-shadow: 2px 2px 2px white;
}

.XorO {
  color: #48484b;
  font-size: 27px;
  text-shadow: 2px 2px 2px white;
  margin-top: 182px;
  float: left;
  margin-left: 100px;
  padding: 10px;
}

#score1 {
  color: #48484b;
  font-size: 20px;
  text-shadow: 2px 2px 2px white;
  float: right;
  outline: none;
  margin-right: 140px;
  margin-top: -130px;
}

#score2 {
  color: #48484b;
  font-size: 20px;
  text-shadow: 2px 2px 2px white;
  float: right;
  outline: none;
  margin-right: 140px;
  margin-top: -70px;
}



